.idea/
**/*.iml
**/*.log

out/

/Web-Project/.gradle/
/Web-Project/gradle/
/Web-Project/build/

/apache-tomcat-8.0.32/

/hybris/*
!/hybris/thread dumps/

/Classloading/.gradle/
/Classloading/gradle/
/Classloading/build/*
!/Classloading/build/libs

/Jenkins/
/Sonar/
jenkins-2.46.1.zip
jenkins.war

ticket-booking-client/target/
ticket-booking/target/